body{
background-color: blue;
background-image: linear-gradient( to right, #C0C0C0, #A9A9A9, #808080, #696969 ); }
}
main{
  display: flex;
}
header{
  text-align: center;
  font-size: 18pt;
}
nav{
  box-shadow: 20px 20px 10px;
  text-align: center;
  font-size: 18pt;
  font-weight: bold;
  background-color: #9400D3;
  flex-direction: row;
  justify-content: space around;
}

