main{
  display: flex;
}
header{
  text-align: center;
  font-size: 18pt;
  background-color: orange;
}
nav{
  box-shadow: 20px 20px 10px;
  text-align: center;
  font-size: 18pt;
  font-weight: bold;
  background-color: #9400D3;
  flex-direction: row;
  justify-content: space around;
}
#APS{
  align-items: center;
  text-align: center;
  background-color: blue;
}
#DG{
  align-items: center;
  text-align: center;
  background-color: purple;
}
#PWD{
  align-items: center;
  text-align: center;
  backgroun-color: green;
}
footer{
  text-align: center;
  background-color: pink;
}
